In [1]:
import pandas as pd

In [2]:
Data=pd.read_csv("Social_Network_Ads.csv")
Data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
data=pd.get_dummies(Data,drop_first=True)
data

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [4]:
data=data.drop("User ID",axis=1)
data

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [5]:
data["Purchased"].value_counts()
#to check the give data balanced or imbalanced

0    257
1    143
Name: Purchased, dtype: int64

In [8]:
Independent=data[["Age","EstimatedSalary","Gender_Male"]]
Independent

     Age  EstimatedSalary  Gender_Male
0     19            19000            1
1     35            20000            1
2     26            43000            0
3     27            57000            0
4     19            76000            1
..   ...              ...          ...
395   46            41000            0
396   51            23000            1
397   50            20000            0
398   36            33000            1
399   49            36000            0

[400 rows x 3 columns]

In [9]:
Dependent=data[["Purchased"]]
Dependent

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(Independent, Dependent, test_size=0.30, random_state=0)

In [15]:
x_test

     Age  EstimatedSalary  Gender_Male
132   30            87000            1
309   38            50000            0
341   35            75000            1
196   30            79000            0
246   35            50000            0
..   ...              ...          ...
216   49            65000            1
259   45           131000            0
49    31            89000            0
238   46            82000            0
343   47            51000            0

[120 rows x 3 columns]

In [17]:
from sklearn.preprocessing import StandardScaler
st=StandardScaler()
x_train=st.fit_transform(x_train)
x_test=st.transform(x_test)

In [18]:
x_test

array([[-0.77101313,  0.49720103,  0.99288247],
       [ 0.0133054 , -0.57280368, -1.00716855],
       [-0.28081405,  0.15017248,  0.99288247],
       [-0.77101313,  0.26584866, -1.00716855],
       [-0.28081405, -0.57280368, -1.00716855],
       [-1.06513258, -1.44037507,  0.99288247],
       [-0.67297331, -1.5849703 , -1.00716855],
       [-0.18277423,  2.14558666,  0.99288247],
       [-1.94749093, -0.05226085, -1.00716855],
       [ 0.89566375, -0.775237  ,  0.99288247],
       [-0.77101313, -0.60172273,  0.99288247],
       [-0.96709276, -0.42820845, -1.00716855],
       [-0.08473441, -0.42820845,  0.99288247],
       [ 0.11134522,  0.20801057,  0.99288247],
       [-1.7514113 ,  0.46828198,  0.99288247],
       [-0.5749335 ,  1.36477242, -1.00716855],
       [-0.08473441,  0.20801057,  0.99288247],
       [-1.84945111,  0.43936294,  0.99288247],
       [ 1.67998229,  1.74072002, -1.00716855],
       [-0.28081405, -1.38253697,  0.99288247],
       [-0.28081405, -0.65956082, -1.00716855],
       [ 0.89566375,  2.14558666, -1.00716855],
       [ 0.30742485, -0.54388463, -1.00716855],
       [ 0.89566375,  1.01774386,  0.99288247],
       [-1.45729185, -1.2090227 , -1.00716855],
       [ 1.09174339,  2.05882953, -1.00716855],
       [-0.96709276,  0.49720103, -1.00716855],
       [-0.86905295,  0.29476771,  0.99288247],
       [-0.08473441, -0.22577513, -1.00716855],
       [-0.5749335 ,  0.46828198, -1.00716855],
       [-1.65337148,  0.52612008,  0.99288247],
       [-0.08473441,  0.26584866,  0.99288247],
       [ 1.87606192, -0.28361322,  0.99288247],
       [-0.08473441, -0.48604654,  0.99288247],
       [-1.35925203, -0.34145131,  0.99288247],
       [-1.94749093, -0.51496559,  0.99288247],
       [-1.55533166,  0.32368675,  0.99288247],
       [-0.37885386, -0.775237  , -1.00716855],
       [-0.67297331, -1.03550842, -1.00716855],
       [ 1.09174339, -0.97767033, -1.00716855],
       [-1.06513258,  0.52612008,  0.99288247],
       [ 0.30742485, -0.51496559,  0.99288247],
       [-1.06513258,  0.41044389, -1.00716855],
       [-0.28081405, -1.44037507,  0.99288247],
       [ 0.50350449,  1.22017719, -1.00716855],
       [-1.06513258, -0.34145131, -1.00716855],
       [-0.08473441,  0.29476771, -1.00716855],
       [ 1.38586284,  0.58395817, -1.00716855],
       [-1.1631724 , -1.1511846 ,  0.99288247],
       [ 1.09174339,  0.46828198,  0.99288247],
       [ 1.87606192,  1.50936765, -1.00716855],
       [-0.37885386, -1.29577984, -1.00716855],
       [-0.28081405, -0.37037036, -1.00716855],
       [-0.37885386,  1.30693432,  0.99288247],
       [ 2.07214155,  0.52612008, -1.00716855],
       [ 0.69958412, -1.09334651,  0.99288247],
       [-0.86905295,  0.38152485, -1.00716855],
       [-1.1631724 ,  0.29476771, -1.00716855],
       [ 1.09174339, -1.2090227 ,  0.99288247],
       [-1.45729185, -1.44037507,  0.99288247],
       [-0.5749335 , -1.49821316,  0.99288247],
       [ 2.17018137, -0.80415605,  0.99288247],
       [-1.84945111,  0.17909152,  0.99288247],
       [-0.18277423,  0.84422958,  0.99288247],
       [-1.84945111, -1.26686079, -1.00716855],
       [ 2.17018137,  0.38152485,  0.99288247],
       [-1.35925203,  0.55503912, -1.00716855],
       [-1.06513258, -0.34145131,  0.99288247],
       [ 0.20938504, -0.65956082,  0.99288247],
       [ 0.40546467,  0.00557724, -1.00716855],
       [-0.5749335 ,  2.31910094, -1.00716855],
       [-0.28081405,  0.20801057, -1.00716855],
       [-1.55533166, -0.19685608, -1.00716855],
       [ 0.69958412, -1.38253697,  0.99288247],
       [-1.06513258,  0.55503912,  0.99288247],
       [-1.94749093,  0.3526058 ,  0.99288247],
       [ 0.40546467,  0.26584866, -1.00716855],
       [ 0.20938504, -0.28361322, -1.00716855],
       [ 1.48390265, -1.03550842, -1.00716855],
       [ 0.89566375,  1.07558195, -1.00716855],
       [ 1.97410174,  2.14558666,  0.99288247],
       [ 2.07214155,  0.38152485, -1.00716855],
       [-1.35925203, -0.42820845, -1.00716855],
       [-1.1631724 , -1.00658937, -1.00716855],
       [ 1.97410174, -0.91983223, -1.00716855],
       [ 0.40546467,  0.29476771, -1.00716855],
       [ 0.20938504,  0.15017248, -1.00716855],
       [ 2.07214155,  1.74072002,  0.99288247],
       [ 0.79762394, -0.8330751 , -1.00716855],
       [ 0.30742485, -0.28361322, -1.00716855],
       [ 0.40546467, -0.16793703,  0.99288247],
       [-0.08473441,  2.20342476, -1.00716855],
       [-1.45729185, -0.63064177, -1.00716855],
       [-1.26121221, -1.06442747,  0.99288247],
       [-1.35925203,  0.41044389,  0.99288247],
       [-1.06513258,  0.75747245, -1.00716855],
       [-1.45729185, -0.19685608,  0.99288247],
       [ 0.99370357, -1.06442747,  0.99288247],
       [ 0.99370357,  0.58395817,  0.99288247],
       [ 0.40546467,  0.98882482,  0.99288247],
       [ 0.6015443 , -0.89091319, -1.00716855],
       [-0.5749335 ,  1.45152956,  0.99288247],
       [ 0.0133054 , -0.57280368, -1.00716855],
       [-0.5749335 ,  1.88531525, -1.00716855],
       [ 1.38586284, -1.41145602, -1.00716855],
       [ 1.48390265,  0.98882482, -1.00716855],
       [ 0.11134522, -0.80415605,  0.99288247],
       [ 0.0133054 , -0.25469417,  0.99288247],
       [-0.18277423, -0.57280368, -1.00716855],
       [-0.18277423, -0.19685608, -1.00716855],
       [-0.28081405, -1.29577984, -1.00716855],
       [-0.28081405, -0.57280368,  0.99288247],
       [ 0.40546467,  0.09233438,  0.99288247],
       [ 0.89566375, -0.60172273, -1.00716855],
       [ 2.07214155, -1.18010365, -1.00716855],
       [ 1.09174339, -0.13901799,  0.99288247],
       [ 0.69958412,  1.76963906, -1.00716855],
       [-0.67297331,  0.55503912, -1.00716855],
       [ 0.79762394,  0.3526058 , -1.00716855],
       [ 0.89566375, -0.54388463, -1.00716855]])

In [20]:
from sklearn.tree import DecisionTreeClassifier

from sklearn.model_selection import GridSearchCV

param_grid ={'criterion':['gini','entropy'],
              'max_features': ['auto','sqrt','log2'],
              'splitter':['best','random']}

grid=GridSearchCV(DecisionTreeClassifier(), param_grid, refit= True, verbose=3, n_jobs=-1, scoring="f1_weighted")

grid.fit(x_train,y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\Users\smani\anaconda3\lib\site-packages\sklearn\tree\_classes.py:269: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'`.
  warnings.warn(

GridSearchCV(estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             scoring='f1_weighted', verbose=3)

In [21]:
print(grid.best_params_)
#Using this we can see the best model atfer tuning
re=grid.cv_results_
#save the result and we can see this table method using pandas
#print(re)

{'criterion': 'gini', 'max_features': 'auto', 'splitter': 'best'}

In [22]:
y_pred=grid.predict(x_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 1], dtype=int64)

In [23]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[74  5]
 [ 7 34]]

In [24]:
#74 correctly predict as not purchased and 5 wrongly predict as not purchased
#7 correctly predict as purchased and 35 wrongly predict as purchased 

#5 is the error 1 and 7 is error 2, error-1 is less then error-2 so result will be good

In [25]:
from sklearn.metrics import classification_report
clr=classification_report(y_test,y_pred)
print(clr)

              precision    recall  f1-score   support

           0       0.91      0.94      0.92        79
           1       0.87      0.83      0.85        41

    accuracy                           0.90       120
   macro avg       0.89      0.88      0.89       120
weighted avg       0.90      0.90      0.90       120

In [28]:
#to see the specific vales in the confusion matrics, in average what ever we pass the metrics it will that value
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,y_pred,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'gini', 'max_features': 'auto', 'splitter': 'best'}: 0.8993749999999998

⚖️ When to use what?
Scenario	Recommended average
Binary classification	'binary' (default if 2 classes)
Multiclass, balanced classes	'macro'
Multiclass, imbalanced classes	'weighted'
You want total accuracy-like score	'micro'
Multilabel classification	'samples' or 'micro'

In [29]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.007881,0.003080,0.005977,0.001275,gini,auto,best,"{'criterion': 'gini', 'max_features': 'auto', ...",0.855314,0.804584,0.823129,0.892857,0.909115,0.857000,0.039747,1
1,0.008280,0.002004,0.006373,0.000838,gini,auto,random,"{'criterion': 'gini', 'max_features': 'auto', ...",0.855314,0.819142,0.733523,0.768874,0.816856,0.798742,0.042639,12
2,0.004368,0.001451,0.004771,0.001032,gini,sqrt,best,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.908880,0.785714,0.807155,0.839990,0.927778,0.853903,0.055693,2
3,0.003163,0.000947,0.004718,0.000859,gini,sqrt,random,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.855314,0.892857,0.824293,0.813596,0.874356,0.852083,0.029741,3
4,0.003214,0.000984,0.004265,0.000761,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",0.855314,0.804584,0.804584,0.857143,0.802559,0.824837,0.025648,8
5,0.003590,0.002012,0.004096,0.001333,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",0.775048,0.821429,0.824293,0.805721,0.855556,0.816409,0.026248,11
6,0.004863,0.001684,0.004320,0.000734,entropy,auto,best,"{'criterion': 'entropy', 'max_features': 'auto...",0.808036,0.821429,0.841398,0.859025,0.872761,0.840530,0.023674,5
7,0.005632,0.001062,0.003232,0.001964,entropy,auto,random,"{'criterion': 'entropy', 'max_features': 'auto...",0.838326,0.821429,0.754011,0.841837,0.855556,0.822232,0.035801,10
8,0.004228,0.001623,0.004625,0.000495,entropy,sqrt,best,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.855314,0.840114,0.789152,0.872761,0.850877,0.841644,0.028278,4
9,0.003820,0.000986,0.003218,0.001174,entropy,sqrt,random,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.852966,0.840114,0.754011,0.855556,0.836407,0.827811,0.037615,7
10,0.003323,0.002146,0.004427,0.000955,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.819142,0.821429,0.821429,0.857143,0.855556,0.834940,0.017508,6
11,0.003336,0.001381,0.003698,0.001543,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",0.799537,0.787755,0.804584,0.874356,0.853485,0.823943,0.033747,9

In [30]:
#roc and auc (Receiver Operating Characteristic) and (Area Under the Curve) are powerful tools for evaluating the performance of binary classification models.
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(x_test)[:,-1])

0.8829885767212102

In [31]:
# using this roc and auc for 2nd time verifiy the model and score
#score was ok so this algorithm will expected value

In [32]:
grid.predict([[46,41000,0]])

array([1], dtype=int64)