In [2]:
import pandas as ps

### 1.Data collection

In [3]:
data_set=ps.read_csv("Social_Network_Ads.csv")

In [4]:
data_set

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [5]:
data=ps.get_dummies(data_set,drop_first=True)
data

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [6]:
data=data.drop("User ID", axis=1)
data

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [7]:
data["Purchased"].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

### 2.Split the input and output

In [8]:
independent=data[["Age","EstimatedSalary","Gender_Male"]]
independent

     Age  EstimatedSalary  Gender_Male
0     19            19000            1
1     35            20000            1
2     26            43000            0
3     27            57000            0
4     19            76000            1
..   ...              ...          ...
395   46            41000            0
396   51            23000            1
397   50            20000            0
398   36            33000            1
399   49            36000            0

[400 rows x 3 columns]

In [9]:
dependent=data[["Purchased"]]
dependent

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

### 3.Split the train and test data

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [11]:
x_test

     Age  EstimatedSalary  Gender_Male
132   30            87000            1
309   38            50000            0
341   35            75000            1
196   30            79000            0
246   35            50000            0
..   ...              ...          ...
216   49            65000            1
259   45           131000            0
49    31            89000            0
238   46            82000            0
343   47            51000            0

[120 rows x 3 columns]

In [13]:
from sklearn.preprocessing import StandardScaler
sr=StandardScaler()
x_train=sr.fit_transform(x_train)
x_test=sr.transform(x_test)

In [14]:
x_train

array([[-1.1631724 , -1.5849703 ,  0.99288247],
       [ 2.17018137,  0.93098672,  0.99288247],
       [ 0.0133054 ,  1.22017719, -1.00716855],
       [ 0.20938504,  1.07558195,  0.99288247],
       [ 0.40546467, -0.48604654, -1.00716855],
       [-0.28081405, -0.31253226,  0.99288247],
       [ 0.99370357, -0.8330751 ,  0.99288247],
       [ 0.99370357,  1.8563962 , -1.00716855],
       [ 0.0133054 ,  1.24909623, -1.00716855],
       [-0.86905295,  2.26126285,  0.99288247],
       [-1.1631724 , -1.5849703 , -1.00716855],
       [ 2.17018137, -0.80415605,  0.99288247],
       [-1.35925203, -1.46929411,  0.99288247],
       [ 0.40546467,  2.2901819 ,  0.99288247],
       [ 0.79762394,  0.75747245, -1.00716855],
       [-0.96709276, -0.31253226,  0.99288247],
       [ 0.11134522,  0.75747245,  0.99288247],
       [-0.96709276,  0.55503912,  0.99288247],
       [ 0.30742485,  0.06341534,  0.99288247],
       [ 0.69958412, -1.26686079,  0.99288247],
       [-0.47689368, -0.0233418 , -1.00716855],
       [-1.7514113 ,  0.3526058 , -1.00716855],
       [-0.67297331,  0.12125343,  0.99288247],
       [ 0.40546467,  0.29476771,  0.99288247],
       [-0.28081405,  0.06341534, -1.00716855],
       [-0.47689368,  2.2901819 , -1.00716855],
       [ 0.20938504,  0.03449629,  0.99288247],
       [ 1.28782302,  2.20342476, -1.00716855],
       [ 0.79762394,  0.26584866,  0.99288247],
       [-0.28081405,  0.15017248,  0.99288247],
       [ 0.0133054 , -0.54388463,  0.99288247],
       [-0.18277423,  0.15017248, -1.00716855],
       [-0.08473441,  0.23692961, -1.00716855],
       [ 0.0133054 , -0.25469417,  0.99288247],
       [ 2.17018137,  1.104501  , -1.00716855],
       [-1.7514113 ,  0.3526058 , -1.00716855],
       [ 1.87606192,  0.12125343,  0.99288247],
       [ 0.40546467, -0.13901799,  0.99288247],
       [-1.1631724 ,  0.29476771,  0.99288247],
       [ 0.79762394,  1.36477242,  0.99288247],
       [-0.28081405, -0.25469417,  0.99288247],
       [-1.65337148, -0.05226085, -1.00716855],
       [-0.96709276, -0.74631796, -1.00716855],
       [ 0.30742485,  0.49720103,  0.99288247],
       [-0.08473441, -1.06442747, -1.00716855],
       [-1.06513258,  0.58395817,  0.99288247],
       [ 0.11134522, -0.80415605,  0.99288247],
       [-0.96709276,  1.53828669,  0.99288247],
       [-0.67297331,  1.39369146, -1.00716855],
       [-1.26121221,  0.49720103,  0.99288247],
       [-0.28081405,  0.03449629, -1.00716855],
       [-0.08473441,  0.00557724,  0.99288247],
       [-0.28081405, -0.89091319,  0.99288247],
       [ 0.89566375, -1.35361793,  0.99288247],
       [-0.28081405,  2.2323438 , -1.00716855],
       [ 0.99370357,  1.97207239, -1.00716855],
       [-1.1631724 ,  0.46828198,  0.99288247],
       [-1.26121221,  0.26584866,  0.99288247],
       [ 1.38586284,  1.97207239, -1.00716855],
       [ 1.28782302, -1.35361793,  0.99288247],
       [-0.28081405, -0.28361322, -1.00716855],
       [-0.47689368,  1.24909623, -1.00716855],
       [-0.77101313,  1.07558195,  0.99288247],
       [ 0.99370357, -1.06442747,  0.99288247],
       [ 0.30742485,  0.29476771, -1.00716855],
       [ 0.99370357,  0.75747245, -1.00716855],
       [-0.67297331, -1.49821316,  0.99288247],
       [-0.67297331,  0.03449629, -1.00716855],
       [ 0.50350449,  1.71180097,  0.99288247],
       [ 2.07214155,  0.17909152, -1.00716855],
       [-1.94749093, -0.74631796, -1.00716855],
       [-0.18277423,  1.39369146,  0.99288247],
       [ 0.40546467,  0.58395817, -1.00716855],
       [ 0.89566375, -1.1511846 , -1.00716855],
       [-1.1631724 , -0.775237  , -1.00716855],
       [ 0.20938504,  0.23692961,  0.99288247],
       [ 0.79762394, -0.31253226,  0.99288247],
       [ 2.07214155, -0.80415605, -1.00716855],
       [ 0.79762394,  0.12125343, -1.00716855],
       [-0.28081405,  0.61287722,  0.99288247],
       [-0.96709276, -0.31253226, -1.00716855],
       [ 0.20938504, -0.37037036,  0.99288247],
       [ 2.07214155,  2.11666762,  0.99288247],
       [ 1.87606192, -1.26686079, -1.00716855],
       [ 1.38586284, -0.91983223, -1.00716855],
       [ 0.89566375,  1.24909623, -1.00716855],
       [ 1.48390265,  2.11666762, -1.00716855],
       [-0.28081405, -1.23794174,  0.99288247],
       [ 1.97410174,  0.90206768, -1.00716855],
       [ 0.69958412, -0.71739891, -1.00716855],
       [-1.45729185,  0.3526058 , -1.00716855],
       [ 0.79762394, -1.35361793,  0.99288247],
       [ 0.40546467, -0.13901799,  0.99288247],
       [-0.96709276,  0.41044389, -1.00716855],
       [ 0.0133054 , -0.31253226,  0.99288247],
       [-1.1631724 ,  0.41044389, -1.00716855],
       [-0.86905295, -1.2090227 , -1.00716855],
       [-0.08473441,  0.03449629, -1.00716855],
       [-1.55533166, -0.42820845, -1.00716855],
       [ 0.99370357, -1.00658937, -1.00716855],
       [ 1.09174339, -1.2090227 ,  0.99288247],
       [ 0.0133054 , -0.13901799, -1.00716855],
       [-1.06513258, -1.52713221, -1.00716855],
       [ 0.79762394, -1.2090227 ,  0.99288247],
       [ 0.99370357,  2.05882953,  0.99288247],
       [-1.1631724 , -1.52713221, -1.00716855],
       [-0.28081405,  0.78639149, -1.00716855],
       [ 0.11134522, -0.31253226, -1.00716855],
       [-1.35925203, -1.23794174, -1.00716855],
       [-0.5749335 , -1.49821316,  0.99288247],
       [ 0.79762394,  0.52612008,  0.99288247],
       [-0.28081405, -0.34145131,  0.99288247],
       [ 1.7780221 , -0.28361322,  0.99288247],
       [ 0.89566375, -1.03550842,  0.99288247],
       [ 0.20938504,  0.06341534, -1.00716855],
       [-0.5749335 ,  0.87314863,  0.99288247],
       [-1.84945111, -1.41145602, -1.00716855],
       [-1.26121221,  0.58395817,  0.99288247],
       [-0.28081405,  0.52612008,  0.99288247],
       [-0.96709276, -1.09334651,  0.99288247],
       [ 1.1897832 , -1.44037507, -1.00716855],
       [ 0.20938504, -0.31253226,  0.99288247],
       [ 1.1897832 , -0.74631796, -1.00716855],
       [-0.28081405,  0.06341534,  0.99288247],
       [ 0.20938504,  2.08774857, -1.00716855],
       [ 0.79762394, -1.09334651, -1.00716855],
       [ 0.11134522,  0.03449629, -1.00716855],
       [-1.7514113 ,  0.12125343,  0.99288247],
       [-0.86905295,  0.15017248,  0.99288247],
       [-0.67297331,  0.17909152,  0.99288247],
       [ 0.89566375, -1.29577984,  0.99288247],
       [ 0.20938504, -0.25469417,  0.99288247],
       [-0.37885386,  1.22017719,  0.99288247],
       [ 0.0133054 ,  0.29476771, -1.00716855],
       [ 0.40546467,  0.15017248, -1.00716855],
       [ 0.89566375, -0.65956082, -1.00716855],
       [ 0.11134522,  0.15017248, -1.00716855],
       [-1.84945111, -1.29577984,  0.99288247],
       [-0.08473441,  0.29476771, -1.00716855],
       [-0.18277423, -0.28361322,  0.99288247],
       [ 0.30742485, -0.51496559,  0.99288247],
       [-0.18277423,  1.59612479,  0.99288247],
       [ 0.99370357, -1.18010365, -1.00716855],
       [-0.18277423,  1.62504383, -1.00716855],
       [ 1.28782302,  1.8563962 , -1.00716855],
       [-1.06513258, -0.37037036, -1.00716855],
       [ 0.0133054 ,  0.03449629,  0.99288247],
       [ 0.11134522, -0.25469417, -1.00716855],
       [-1.55533166, -1.23794174, -1.00716855],
       [-0.47689368, -0.28361322, -1.00716855],
       [ 0.99370357,  0.12125343,  0.99288247],
       [ 1.97410174, -1.35361793, -1.00716855],
       [ 1.48390265,  0.06341534,  0.99288247],
       [-0.5749335 ,  1.36477242, -1.00716855],
       [ 1.58194247,  0.00557724,  0.99288247],
       [-0.77101313,  0.29476771,  0.99288247],
       [ 1.97410174,  0.7285534 , -1.00716855],
       [-1.1631724 , -0.51496559, -1.00716855],
       [ 0.69958412,  0.26584866,  0.99288247],
       [-1.35925203, -0.42820845,  0.99288247],
       [ 0.20938504,  0.15017248,  0.99288247],
       [-0.47689368, -1.2090227 , -1.00716855],
       [ 0.6015443 ,  2.00099143, -1.00716855],
       [-1.55533166, -1.49821316,  0.99288247],
       [-0.47689368, -0.54388463, -1.00716855],
       [ 0.50350449,  1.82747716, -1.00716855],
       [-1.35925203, -1.09334651, -1.00716855],
       [ 0.79762394, -1.38253697, -1.00716855],
       [-0.28081405, -0.42820845,  0.99288247],
       [ 1.58194247,  0.98882482, -1.00716855],
       [ 0.99370357,  1.42261051, -1.00716855],
       [-0.28081405, -0.48604654,  0.99288247],
       [-0.08473441,  2.14558666,  0.99288247],
       [-1.45729185, -0.11009894, -1.00716855],
       [-0.08473441,  1.94315334, -1.00716855],
       [-0.67297331, -0.34145131,  0.99288247],
       [-0.47689368, -0.8330751 , -1.00716855],
       [ 0.69958412, -1.38253697, -1.00716855],
       [-0.77101313, -1.5849703 ,  0.99288247],
       [-1.84945111, -1.46929411,  0.99288247],
       [ 1.09174339,  0.12125343,  0.99288247],
       [ 0.11134522,  1.50936765,  0.99288247],
       [-0.28081405,  0.09233438,  0.99288247],
       [ 0.11134522,  0.03449629,  0.99288247],
       [-1.35925203, -1.35361793,  0.99288247],
       [ 0.30742485,  0.06341534, -1.00716855],
       [-0.86905295,  0.38152485, -1.00716855],
       [ 1.58194247, -1.26686079, -1.00716855],
       [-0.28081405, -0.74631796, -1.00716855],
       [-0.08473441,  0.15017248,  0.99288247],
       [-0.86905295, -0.65956082, -1.00716855],
       [-0.67297331, -0.05226085, -1.00716855],
       [ 0.40546467, -0.45712749,  0.99288247],
       [-0.77101313,  1.88531525,  0.99288247],
       [ 1.38586284,  1.27801528, -1.00716855],
       [ 1.1897832 , -0.97767033, -1.00716855],
       [ 1.7780221 ,  1.82747716,  0.99288247],
       [-0.86905295, -0.25469417,  0.99288247],
       [-0.77101313,  0.55503912,  0.99288247],
       [-1.1631724 , -1.55605125,  0.99288247],
       [-0.47689368, -1.12226556,  0.99288247],
       [ 0.30742485,  0.06341534, -1.00716855],
       [-0.18277423, -1.06442747,  0.99288247],
       [ 1.67998229,  1.59612479, -1.00716855],
       [ 0.99370357,  1.76963906, -1.00716855],
       [ 0.30742485,  0.03449629, -1.00716855],
       [-0.77101313, -0.22577513, -1.00716855],
       [-0.08473441,  0.06341534,  0.99288247],
       [ 0.30742485, -0.19685608, -1.00716855],
       [ 1.97410174, -0.65956082, -1.00716855],
       [-0.77101313,  1.33585337, -1.00716855],
       [-1.7514113 , -0.60172273,  0.99288247],
       [-0.08473441,  0.12125343,  0.99288247],
       [ 0.30742485, -0.31253226,  0.99288247],
       [ 1.09174339,  0.55503912,  0.99288247],
       [-0.96709276,  0.26584866,  0.99288247],
       [ 1.48390265,  0.3526058 , -1.00716855],
       [ 0.20938504, -0.37037036,  0.99288247],
       [ 2.17018137, -1.03550842,  0.99288247],
       [-0.28081405,  1.104501  ,  0.99288247],
       [-1.65337148,  0.06341534,  0.99288247],
       [ 0.0133054 ,  0.03449629,  0.99288247],
       [ 0.11134522,  1.04666291,  0.99288247],
       [-0.08473441, -0.37037036, -1.00716855],
       [-1.1631724 ,  0.06341534, -1.00716855],
       [-0.28081405, -1.35361793, -1.00716855],
       [ 1.58194247,  1.104501  , -1.00716855],
       [-0.77101313, -1.52713221,  0.99288247],
       [ 0.11134522,  1.8563962 ,  0.99288247],
       [-0.86905295, -0.775237  ,  0.99288247],
       [-0.47689368, -0.775237  ,  0.99288247],
       [-0.28081405, -0.91983223,  0.99288247],
       [ 0.30742485, -0.71739891,  0.99288247],
       [ 0.30742485,  0.06341534, -1.00716855],
       [ 0.11134522,  1.8563962 , -1.00716855],
       [-1.06513258,  1.94315334, -1.00716855],
       [-1.65337148, -1.55605125, -1.00716855],
       [-1.1631724 , -1.09334651,  0.99288247],
       [-0.67297331, -0.11009894,  0.99288247],
       [ 0.11134522,  0.09233438, -1.00716855],
       [ 0.30742485,  0.26584866,  0.99288247],
       [ 0.89566375, -0.57280368, -1.00716855],
       [ 0.30742485, -1.1511846 , -1.00716855],
       [-0.08473441,  0.67071531, -1.00716855],
       [ 2.17018137, -0.68847986, -1.00716855],
       [-1.26121221, -1.38253697,  0.99288247],
       [-0.96709276, -0.94875128, -1.00716855],
       [ 0.0133054 , -0.42820845, -1.00716855],
       [-0.18277423, -0.45712749, -1.00716855],
       [-1.7514113 , -0.97767033, -1.00716855],
       [ 1.7780221 ,  0.98882482, -1.00716855],
       [ 0.20938504, -0.37037036,  0.99288247],
       [ 0.40546467,  1.104501  , -1.00716855],
       [-1.7514113 , -1.35361793, -1.00716855],
       [ 0.20938504, -0.13901799,  0.99288247],
       [ 0.89566375, -1.44037507,  0.99288247],
       [-1.94749093,  0.46828198, -1.00716855],
       [-0.28081405,  0.26584866,  0.99288247],
       [ 1.87606192, -1.06442747, -1.00716855],
       [-0.37885386,  0.06341534, -1.00716855],
       [ 1.09174339, -0.89091319, -1.00716855],
       [-1.06513258, -1.12226556, -1.00716855],
       [-1.84945111,  0.00557724,  0.99288247],
       [ 0.11134522,  0.26584866, -1.00716855],
       [-1.1631724 ,  0.32368675,  0.99288247],
       [-1.26121221,  0.29476771,  0.99288247],
       [-0.96709276,  0.43936294, -1.00716855],
       [ 1.67998229, -0.89091319,  0.99288247],
       [ 1.1897832 ,  0.52612008, -1.00716855],
       [ 1.09174339,  0.52612008,  0.99288247],
       [ 1.38586284,  2.31910094,  0.99288247],
       [-0.28081405, -0.13901799, -1.00716855],
       [ 0.40546467, -0.45712749,  0.99288247],
       [-0.37885386, -0.775237  ,  0.99288247],
       [-0.08473441, -0.51496559,  0.99288247],
       [ 0.99370357, -1.1511846 , -1.00716855],
       [-0.86905295, -0.775237  ,  0.99288247],
       [-0.18277423, -0.51496559,  0.99288247],
       [-1.06513258, -0.45712749, -1.00716855],
       [-1.1631724 ,  1.39369146, -1.00716855]])

### 4.Model crearion

In [17]:
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import GridSearchCV

par_grid={'criterion':['gini','entropy'],
              'max_features': ['auto','sqrt','log2'],
              'n_estimators':[10,100]} 

grid=GridSearchCV(RandomForestClassifier(), par_grid, refit=True, verbose=3, n_jobs=-1, scoring="f1_weighted")

grid.fit(x_train,y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\Users\smani\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)
C:\Users\smani\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:424: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features='sqrt'` or remove this parameter as it is also the default value for RandomForestClassifiers and ExtraTreesClassifiers.
  warn(

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             scoring='f1_weighted', verbose=3)

In [18]:
y_pred=grid.predict(x_test)

In [19]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 1], dtype=int64)

In [22]:
print(grid.best_params_)
#Using this we can see the best model atfer tuning
re=grid.cv_results_
#save the result and we can see this table method using pandas
#print(re)

{'criterion': 'gini', 'max_features': 'auto', 'n_estimators': 100}

### 5.Evaluation Metric

In [23]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[74  5]
 [ 6 35]]

In [24]:
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,y_pred)

In [25]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.93      0.94      0.93        79
           1       0.88      0.85      0.86        41

    accuracy                           0.91       120
   macro avg       0.90      0.90      0.90       120
weighted avg       0.91      0.91      0.91       120

In [26]:
#to see the specific vales in the confusion matrics, in average what ever we pass the metrics it will that value
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,y_pred,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'gini', 'max_features': 'auto', 'n_estimators': 100}: 0.9080557496700056

In [28]:
table=ps.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.041593,0.003950,0.007128,0.000906,gini,auto,10,"{'criterion': 'gini', 'max_features': 'auto', ...",0.855314,0.857143,0.859435,0.892857,0.870721,0.867094,0.013952,9
1,0.255766,0.016114,0.019039,0.002053,gini,auto,100,"{'criterion': 'gini', 'max_features': 'auto', ...",0.874254,0.875644,0.859435,0.929144,0.946153,0.896926,0.034158,1
2,0.038300,0.005701,0.007882,0.002158,gini,sqrt,10,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.874254,0.821429,0.823129,0.929144,0.926743,0.874940,0.047265,7
3,0.244470,0.008922,0.018437,0.001666,gini,sqrt,100,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.874254,0.840114,0.859435,0.911105,0.946153,0.886212,0.037941,3
4,0.034685,0.008870,0.006596,0.001129,gini,log2,10,"{'criterion': 'gini', 'max_features': 'log2', ...",0.874254,0.840114,0.823129,0.911105,0.907658,0.871252,0.035237,8
5,0.237842,0.013562,0.020371,0.001100,gini,log2,100,"{'criterion': 'gini', 'max_features': 'log2', ...",0.874254,0.857143,0.841398,0.911105,0.946153,0.886011,0.037970,4
6,0.034716,0.011340,0.006027,0.000002,entropy,auto,10,"{'criterion': 'entropy', 'max_features': 'auto...",0.855314,0.857143,0.859435,0.858289,0.888158,0.863668,0.012321,10
7,0.258840,0.017190,0.019386,0.000812,entropy,auto,100,"{'criterion': 'entropy', 'max_features': 'auto...",0.892857,0.858503,0.823129,0.911105,0.945469,0.886213,0.042243,2
8,0.043335,0.014409,0.006783,0.001730,entropy,sqrt,10,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.855314,0.821429,0.823129,0.892857,0.868182,0.852182,0.027240,12
9,0.239564,0.007298,0.014660,0.003547,entropy,sqrt,100,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.874254,0.857143,0.841398,0.911105,0.909115,0.878603,0.027753,6
10,0.035988,0.009357,0.006777,0.001029,entropy,log2,10,"{'criterion': 'entropy', 'max_features': 'log2...",0.874254,0.799537,0.841398,0.874356,0.926743,0.863257,0.041982,11
11,0.208798,0.006882,0.009857,0.007448,entropy,log2,100,"{'criterion': 'entropy', 'max_features': 'log2...",0.874254,0.821429,0.859435,0.911105,0.946153,0.882475,0.042894,5

In [29]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(x_test)[:,-1])

0.9669651126891016

In [31]:
grid.predict([[46,41000,0]])

array([1], dtype=int64)