In [1]:
import pandas as pd

## 1. Data collection

In [2]:
data=pd.read_csv("insurance_pre.csv")
data

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
data_set=pd.get_dummies(data, drop_first=True)
data_set

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
data_set.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

## 2. Input and Output split

In [5]:
Independent=data_set[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
Independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
Dependent=data_set[['charges']]
Dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

## 3.Split train and test data

In [7]:
#Here we are using Gird Search CV (cross validation) so no need to use train and test split, Gird will do that all the method.

## 4. Model creatio

In [75]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import AdaBoostRegressor

p_grid={'n_estimators':[10,50,100],'loss':['linear', 'square', 'exponential']}

grid=GridSearchCV(AdaBoostRegressor(),p_grid, refit=True, verbose=3, n_jobs=-1)

#fiting the model in grid
grid.fit(Independent, Dependent)
#The data is split into 5 parts (folds), and the model is trained 5 times, each time using 4 folds for training and 1 fold for validation.
#9 models with different settings that are being tested. we have 2 parmeter each have 3 so 3x3=9 
#5 rows and 9 columns = 45 fits

Fitting 5 folds for each of 9 candidates, totalling 45 fits

C:\Users\smani\anaconda3\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=AdaBoostRegressor(), n_jobs=-1,
             param_grid={'loss': ['linear', 'square', 'exponential'],
                         'n_estimators': [10, 50, 100]},
             verbose=3)

## 5. Evalution metric

In [76]:
#since we are using GridSearchCV so it will do Evalution the metric and give the best model

In [77]:
re=grid.cv_results_
print("The Score value for the best model {}".format(grid.best_params_),"Score :",grid.best_score_)

The Score value for the best model {'loss': 'linear', 'n_estimators': 50} Score : 0.8278821201177824

In [78]:
# print the best parametar after tuning

In [79]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_loss,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.031647,0.005214,0.006069,0.000889,linear,10,"{'loss': 'linear', 'n_estimators': 10}",0.850026,0.771846,0.834546,0.810272,0.822533,0.817845,0.026494,2
1,0.035602,0.006544,0.005279,0.001203,linear,50,"{'loss': 'linear', 'n_estimators': 50}",0.847057,0.792343,0.854478,0.818603,0.826929,0.827882,0.022023,1
2,0.038904,0.005585,0.005932,0.000125,linear,100,"{'loss': 'linear', 'n_estimators': 100}",0.804861,0.785543,0.843875,0.807528,0.831702,0.814702,0.020681,3
3,0.035486,0.001469,0.005125,0.001014,square,10,"{'loss': 'square', 'n_estimators': 10}",0.732847,0.616222,0.677041,0.657816,0.675559,0.671897,0.037557,5
4,0.150214,0.007274,0.011798,0.001376,square,50,"{'loss': 'square', 'n_estimators': 50}",0.542184,0.417077,0.454926,0.511515,0.487812,0.482703,0.043526,8
5,0.283969,0.006822,0.017786,0.000101,square,100,"{'loss': 'square', 'n_estimators': 100}",0.506835,0.385597,0.412580,0.462589,0.482159,0.449952,0.044656,9
6,0.040705,0.005902,0.006094,0.002145,exponential,10,"{'loss': 'exponential', 'n_estimators': 10}",0.813700,0.767919,0.811252,0.776122,0.814111,0.796621,0.020276,4
7,0.173725,0.017668,0.011014,0.000800,exponential,50,"{'loss': 'exponential', 'n_estimators': 50}",0.609294,0.519355,0.571875,0.602942,0.587574,0.578208,0.032155,6
8,0.270812,0.023048,0.013026,0.003836,exponential,100,"{'loss': 'exponential', 'n_estimators': 100}",0.551455,0.429471,0.475450,0.515443,0.523692,0.499102,0.042475,7

In [80]:
age=int(input("Enter your age :"))
bmi=float(input("Enter your BMI : "))
children=int(input("Enter Children count:"))
Gen=int(input("Enter the gander if male enter 1, if female enter 0 :"))
smok=int(input("Enter if somker enter 1, if no somker enter 0 :"))

Enter your age :19
Enter your BMI : 27.900
Enter Children count:0
Enter the gander if male enter 1, if female enter 0 :0
Enter if somker enter 1, if no somker enter 0 :1

In [81]:
result=grid.predict([[age,bmi,children,Gen,smok]])

C:\Users\smani\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but AdaBoostRegressor was fitted with feature names
  warnings.warn(

In [82]:
result

array([19501.15213864])